<div class="card bg-ingo mb-3 mt-2">
  <div class="card-header">
    <h5>Cliente</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="clienteForm" class="mt-34" (ngSubmit)="guardarCambios()">
      <div class="row">
        <div class="col-md-4">
          <div>
            <img [src]="" alt="fogo cliente" width="350" height="390" formGroupName="imgUrl">
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="form-group col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingNombres" formControlName="nombres"
                  placeholder="Nombres" [class]="validarCampos('nombres')">
                <label for="floatingNombres">Nombres:</label>
                <div class="invalid-feedback">
                  <span *ngIf="clienteForm.get('nombres')?.errors?.['required']! ">Nombre es obligatorios</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingApellidos" placeholder="Apellidos"
                  formControlName="apellidos" [class]="validarCampos('apellidos')">
                <label for="floatingApellidos">Apellidos:</label>
                <div class="invalid-feedback">
                  <span *ngIf="clienteForm.get('apellidos')?.errors?.['required']! ">Apellidos es obligatorio</span>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingCedula" formControlName="cedula"
                  placeholder="Cedula">
                <label for="floatingCedula">Cedula:</label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTelefono" placeholder="Telefono"
                  formControlName="telefono">
                <label for="floatingTelefono">Telefono:</label>
                <div class="invalid-feedback">
                  <span *ngIf="clienteForm.get('telefono')?.errors?.['required']! ">Telefono es obligatorio</span>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingFechaNacimiento" formControlName="fechaNacimiento"
                  placeholder="Fecha de nacimiento" [class]="validarCampos('fechaNacimiento')">
                <label for="floatingFechaNacimiento">Fecha Nacimiento:</label>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="clienteForm.get('fechaNacimiento')?.errors?.['required']! ">Necesita fecha de
                  nacimiento</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingEmail" placeholder="Email" formControlName="email">
                <label for="floatingEmail">Email:</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingDireccion" placeholder="Direccion"
                formControlName="direccion">
              <label for="floatingDireccion">Dirección:</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-group" role="group" aria-label="Button group">
          <button type="button" class="btn  btn-secondary m-2" (click)="irInfoCliente()">Cancelar <i
              class="fas fa-ban"></i></button>
          <button type="button" class="btn btn-success m-2" (click)="guardarCambios()">Guardar Cambios <i
              class="fas fa-save"></i></button>
        </div>
      </div>
    </form>
  </div>

</div>
